.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 996px;
}
.audio-player{
    width: 100%;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border-radius: 26px;
}
.audio-player::before{
    content: "";
    background-color: rgba(60, 241, 241, 0.2784313725490196);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    
}
.audio-player-container{
    position: relative;
    z-index: 10;
    padding: 10px 40px;
    min-height: 600px;
}
.audio-player-nav-bottom{
    position: absolute;
    width: calc(100% - 80px);
    left: 0px;
    padding: 10px 40px;
    bottom: 40px;
}
.audio-player-nav-progress{
    position: relative;
    padding-bottom: 11px;
    margin-left: 60px;
    margin-right: 60px;
    width: 100%;
}
.audio-player-time{
    display: flex;
    margin-bottom: 4px;
    justify-content: space-between;
    align-content: center;
}
.audio-player-time .audio-player-time__style{
    color: #fff;
}
.audio-player__progress{
    background-color: #fff;
    height: 4px;
    position: absolute;
    width: 0%;
    z-index: -1;
}
.audio-player__progress-full{
    background-color: rgba(255, 255, 255, 0.45);
    height: 4px;
    width: 100%;
    z-index: 3;
    cursor: pointer;
}
.audio-player__progress-btn{
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    border-radius: 100%;
    cursor: pointer;
    z-index: 4;
    transform: translateY(-3px);
}
.audio-player-nav__prev,.audio-player-nav__next{
    width: 34px;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: transform 300ms ease-in-out;
    transform: scale(1);
}

.audio-player-nav__next{
    transform: scale(1) rotate(180deg);
}
.audio-player-nav__next:hover{
    transform: scale(0.8) rotate(180deg);
    transition: transform 300ms ease-in-out;
}
.audio-player-nav__prev:hover{
    transform: scale(0.8);
    transition: transform 300ms ease-in-out;
}

.audio-player-nav__prev svg,.audio-player-nav__next svg{
    width: 100%;
    height: 100%;
}

.audio-player-nav-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sliderBtn {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 93.25%;
    margin: -25px auto;
    background-color: rgba(255,255,255,.8);
    box-shadow: 1px 1px 5px rgba(0,0,0,.33);
    border-radius: 25px;
    cursor: pointer;
}

#barEmpty {
    width: 90%;
    opacity: .5;
    box-shadow: none;
    cursor: pointer;
}

.bar {
    position: absolute;
    top: 50%;
    left: 5%;
    margin: -5px auto;
    height: 10px;
    background-color: rgba(212, 23, 23, 0.9);
    box-shadow: 1px 1px 2px rgba(0,0,0,.33);
}
.volume{
    position: absolute;
    width: 100%;
}

#barFull {
    width: 90%;
}

.